<div class="prefix-10 grid-80 suffix-10 ui-widget parent-grid">
  <ul style="list-style: none;">
    <li ng-repeat="ticket in tickets" >
      <a href="/ticket/view/{{ticket.id}}" style="text-decoration: none;">
      <div class="ui-widget-content"
            style="padding-top: 10px; padding-bottom: 10px;"
            ng-class="{'ui-state-hover': hover}" ng-mouseenter="hover=true;" ng-mouseleave="hover=false;">
        <div class="grid-100">
          <span style="text-align:left;">{{ticket.title}}</span>
          <span ng-if="ticket.history.length > 1" style="text-align: center; float: right; border: 1px solid gray;" class="smaller-text ui-corner-all">{{ticket.history.length}} <span class="ui-icon ui-icon-comment"> </span> </span>
        </div>
        <div class="grid-100 smaller-text">#{{ticket.id}} opened by {{ticket.createdBy}}</div>
      </div>
      </a>
    </li>
  </ul>
</div>
