.ui-menu:after {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.ui-menu .ui-menu-item {
    display: inline-block;
    width: auto;
    margin: auto;
    border: 1px solid #aaa;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
 }

ul[j-menu] {
  margin: auto;
  text-align: center;
  border: 0px solid #aaa;
}
